#AWS CLI Profile
profile = "default"

#AWS Region
region = "ap-southeast-1"

#Common Tags
common_tags = {
  Owner = "Paulus"
  Environment = "Test"
}

#VPC
vpc = {
  create = true
  name = "solace"
  cidr = "10.100.0.0/16"
  add_cidrs = []
}

#Subnets
subnets = {
  create = true
  subnets = {
    solace-subnet-a = { 
      name = "solace-subnet-a"
      cidr = "10.100.1.0/24"
      az_suffix = "a" #Availability Zone suffix
    }
    solace-subnet-b = { 
      name = "solace-subnet-b"
      cidr = "10.100.2.0/24"
      az_suffix = "b"
    }
    solace-subnet-c = { 
      name = "solace-subnet-c"
      cidr = "10.100.3.0/24"
      az_suffix = "c"
    }
  }
}

solace_secgrp = {
  create = true
  name = "solace-secgrp"
  ingress = {
    ssh = {
      from_port = "22"
      to_port = "22"
      protocol = "tcp"
      cidr_blocks = ["0.0.0.0/0"]
    }
    cli = {
      from_port = "2222"
      to_port = "2222"
      protocol = "tcp"
      cidr_blocks = ["0.0.0.0/0"]
    }
    https = {
      from_port = "1943"
      to_port = "1943"
      protocol = "tcp"
      cidr_blocks = ["0.0.0.0/0"]
    }
    smf_tls = {
      from_port = "55443"
      to_port = "55443"
      protocol = "tcp"
      cidr_blocks = ["0.0.0.0/0"]
    }
  }
}

solace_keypair = {
  create = true
  name = "solace-keypair"
}

solace_brokers = {
  create = true
  brokers = {
    pgsolace1 = {
      ha = true
      presharedkey = "Pre-Shared Authentication Keys for Software Event Brokers"
      primary_node = {
        name = "pgsolace1a"
        instance_type = "t3.medium"
        subnet_ref = "solace-subnet-a"
        private_ip = "10.100.1.11"
        public_ip = ""
      }
      backup_node = {
        name = "pgsolace1b"
        instance_type = "t3.medium"
        subnet_ref = "solace-subnet-b"
        private_ip = "10.100.2.11"
        public_ip = ""
      }
      monitor_node = {
       name = "pgsolace1c"
        instance_type = "t3.medium"
        subnet_ref = "solace-subnet-c"
        private_ip = "10.100.3.11"
        public_ip = ""
      }
      storage = {
        type = "gp2"
        device_name = "/dev/sdb"
        size = 30
      }
      solace_config = {
        max_connection = 100
        max_spool_mb = 1000
        volume_name = "nvme1n1"
      }
    }
    pgsolace2 = {
      ha = false
      presharedkey = ""
      primary_node = {
        name = "pgsolace2"
        instance_type = "t3.medium"
        subnet_ref = "solace-subnet-b"
        private_ip = "10.100.2.21"
        public_ip = ""
      }
      backup_node = {
        name = ""
        instance_type = ""
        subnet_ref = ""
        private_ip = ""
        public_ip = ""
      }
      monitor_node = {
       name = ""
        instance_type = ""
        subnet_ref = ""
        private_ip = ""
        public_ip = ""
      }
      storage = {
        type = "gp2"
        device_name = "/dev/sdb"
        size = 30
      }
      solace_config = {
        max_connection = 100
        max_spool_mb = 1000
        volume_name = "nvme1n1"
      }
    }
  }
}

solace_version="9.11.0.10"
solace_edition="standard"
admin_user="admin"
admin_password="yourpassword"
time_zone="Asia/Singapore"
ntp_server="pool.ntp.org"
